/* dashboard */

h1 {
    text-align: center;
}

.container_fluid__inside {
    display: flex;
}

.left {
    background-color: #333;
    width: 12%;
    min-height: 960px;
}

.left__dashboard {
    border-bottom: 1px rgba(68, 68, 68, 1) double;
}

.left__dashboard-text {
    color: red;
    text-align: center;
    margin: 5px auto 10px;
}

.left>ul>li {
    list-style-type: none;
    margin: 40px 0;
    align-items: left;
}

.left__post {
    color: #fff;
}

.left__category {
    color: #fff;
}

.right {
    margin-top: 120px;
    width: 88%;
    display: flex;
    justify-content: space-around;
}

.right__post {
    width: 400px;
    height: 200px;
    background-color: rgba(68, 68, 68, .5);
}

.right__post--text {
    font-size: 24px;
    color: blue;
    margin: 10px auto 0;
    text-align: center;
}

.right__post--btn {
    font-size: 24px;
    color: blue;
    margin-left: 140px;
}

#post_items {
    font-size: 24px;
    color: blue;
    margin: 10px auto 0;
    text-align: center;
}

.right__category {
    width: 400px;
    height: 200px;
    background-color: rgba(68, 68, 68, .5);
}

.right__category--text {
    font-size: 24px;
    color: blue;
    margin: 10px auto 0;
    text-align: center;
}

#category_items {
    font-size: 24px;
    color: blue;
    margin: 10px auto 0;
    text-align: center;
}