body {}

.menu1 ul {
    position: absolute;
    z-index: 999;
}

.break {
    clear: both;
    height: 10px;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
}

.break90 {
    clear: both;
    height: 10px;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
}

.space20 {
    height: 20px;
    width: 100%;
}

.row-item {
    padding-left: 15px;
}

.border-left {
    border-left: 1px solid #EEEEEE;
}

.border-right {
    border-right: 1px solid #EEEEEE;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.myheader {
    background-color: #337AB7;
    color: white;
}

.clear {
    clear: both;
}

.row {
    margin-right: 0px!important;
    margin-left: 0px!important
}

.navbar-inverse .navbar-nav>li>a {
    color: #edeff2;
}

.navbar-inverse .navbar-brand {
    color: #edeff2;
    text-transform: uppercase;
}


/* header */

#category_items-header {
    display: flex;
    justify-content: space-around;
}


/* menu category */

.list-group-item {}

.demo-here {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.pagination-css {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 24px;
}

.pagination-item {
    width: 30px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid;
}

.active {
    background-color: gray;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}