<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First--Projet</title>
    <link rel="stylesheet" href="../asset/css/style.css">
    <link rel="stylesheet" href="../asset/css/slick.css">
    <link rel="stylesheet" href="../asset/css/slick-theme.css">
    <link rel="stylesheet" href="../asset/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="../asset/jquery/jquery-3.6.0.min.js"></script>
    <script src="../asset/jquery/slick.min.js"></script>
</head>

<body>
    <div id="main">
        <!-- Begin : Header -->
        <div id="header">
            <div class="container">
                <div class="container--inner row">
                    <div class="container__logo">
                        <img src="../asset/image/header/logo.png" alt="">
                    </div>
                    <div class="container__nav">
                        <div class="container__nav-left">
                            <ul class="container__nav--menu-left">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="#">Classes</a></li>
                            </ul>
                        </div>
                        <div class="container__nav-right">
                            <ul class="container__nav--menu-right">
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container__icon">
                        <div class="container__icon--inside">
                            <a href=""> <i class="fas fa-search"></i></a>
                            <p>|</p>
                            <a href=""> <i class="fas fa-shopping-basket"></i></a>
                            <p>|</p>
                            <a href=""> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>
                <!-- menu mobile nav -->

                <div class="container__mobile--nav row">
                    <ul class="mobile--nav">
                        <li><a href="#">Home </a>
                            <i id="mobile-menu" class="fas fa-bars"></i>
                        </li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Classes</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                    <div class="container__logo">
                        <img src="../asset/image/header/logo.png" alt="">
                    </div>
                    <div class="container__icon">
                        <div class="container__icon--inside">
                            <a href="#"> <i class="fas fa-search"></i></a>
                            <p></p>
                            <a href="#"> <i class="fas fa-shopping-basket"></i></a>
                            <p></p>
                            <a href="#"> <i class="fas fa-user"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End : Begin -->

        <!-- Begin : slider -->
        <div class="slider">
            <div class="slider--banner">
                <div class="slider__banner--img"></div>
                <div class="container slider__content">
                    <div class="row">
                        <div class="container__inner">
                            <div class="container__inner--title">
                                <h1 class="fs-60">Dumbbells Shop</h1>
                                <h2 class="fs-40">Best body fitness</h2>
                                <p class="fs-14">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                <div class="slider__button">
                                    <a href="#">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End : Slider -->

        <!-- Begin : Banner -->
        <div class="container">

            <div class="container__banner">
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <img src="../asset/image/category/dumbbeils/5cb04e457e213.png" class="container__banner--image" alt="">
                </div>
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <div class="banner__inside--content">
                        <img src="../asset/image/category/stregth/icon.png" class="img_icon__strength" alt="">
                        <p class="text-heading__strength">
                            STRENGTH
                        </p>
                        <p class="text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>

                </div>
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <img src="../asset/image/category/power-rack/5cff1632c51da.png" class="container__banner--image" alt="">
                </div>
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <div class="banner__inside--content">
                        <img src="../asset/image/category/dumbbeils/icon.png" class="img_icon__dummble" alt="">
                        <p class="text-heading__dumbbells">
                            DUMBBELLS
                        </p>
                        <p class="text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <img src="../asset/image/category/stregth/5cee3d334ad30.png" class="container__banner--image" alt="">
                </div>
                <div class="container__banner--inside row-3 mobile__row-2 mobile__row">
                    <div class="banner__inside--content">
                        <img src="../asset/image/category/power-rack/icon.png" class="img_icon__power-rack" alt="">
                        <p class="text-heading__power-rack">
                            POWER RACK & CAGES
                        </p>
                        <p class="text-desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- End : Banner -->

        <!-- Start : Product -->

        <div class="container">
            <div class="product">
                <div id="demo" class="product--text ">
                    <p id="demo1">TOP SELLERS</p>
                    <p id="demo2">FEATURED</p>
                    <p>MOST REVIEWS</p>
                </div>
                <div id="product_1" class="product__items row">
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_1.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Body Champ Cardio</p>
                                <p class="item--price">$342.00</p>
                            </div>
                            <div class="item--icon">
                                <a href="#"><i class="fas fa-shopping-basket"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_2.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Body Solic GCEC340</p>
                                <p class="item--price">$214.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_3.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Bowflex BXE116 Elliptical</p>
                                <p class="item--price">$421.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_4.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">ETHOS GHD</p>
                                <p class="item--price">$152.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_5.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">AFG Pro 7.2AI Incline</p>
                                <p class="item--price">$252.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">

                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_6.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Weight Bench</p>
                                <p class="item--price">$412.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">

                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_7.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">ProForm Hiit Trainer Lite 5.9</p>
                                <p class="item--price">$300.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_8.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Fitness Gear Pro</p>
                                <p class="item--price">$124.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="product_2" class="product__items row">

                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_2.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Body Solic GCEC340</p>
                                <p class="item--price">$214.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_3.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Bowflex BXE116 Elliptical</p>
                                <p class="item--price">$421.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_4.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">ETHOS GHD</p>
                                <p class="item--price">$152.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_5.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">AFG Pro 7.2AI Incline</p>
                                <p class="item--price">$252.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">

                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_6.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Weight Bench</p>
                                <p class="item--price">$412.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">

                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_7.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">ProForm Hiit Trainer Lite 5.9</p>
                                <p class="item--price">$300.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="product__item--info">
                            <div class="item--img">
                                <img src="../asset/image/product/product_8.png" alt="">
                            </div>
                            <div class="item--text">
                                <p class="item--name">Fitness Gear Pro</p>
                                <p class="item--price">$124.00</p>
                            </div>
                            <div class="item--icon">
                                <a><i class="fas fa-shopping-basket"></i></a>
                                <a><i class="fas fa-eye"></i></a>
                                <a><i class="fas fa-heart"></i></a>
                                <a><i class="fas fa-exchange-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End : Product -->

        <!-- Start : Slider_About -->

        <div class="container">
            <div class="container__border">
                <div class="row">
                    <div class="slider_about">
                        <div class="slider_about__item">
                            <p class="slider_about__text-heading">See What They Said About Us </p>
                            <img src="../asset/image/slider_about/image_1.png" class="slider_about__img" alt="">
                            <p class="slider_about__text-desc">“Good services. I bought a bicycle with a wrong but they accepted free return for me and exchange a new product for me.</p>
                            <p class="slider_about__text-name">LINA</p>
                            <p class="slider_about__text-wish">Happy clients</p>
                        </div>
                        <div class="slider_about__item">
                            <p class="slider_about__text-heading">See What They Said About Us </p>
                            <img src="../asset/image/slider_about/image_1.png" class="slider_about__img" alt="">
                            <p class="slider_about__text-desc">“Good services. I bought a bicycle with a wrong but they accepted free return for me and exchange a new product for me.</p>
                            <p class="slider_about__text-name">LINA</p>
                            <p class="slider_about__text-wish">Happy clients</p>
                        </div>
                        <div class="slider_about__item">
                            <p class="slider_about__text-heading">See What They Said About Us </p>
                            <img src="../asset/image/slider_about/image_1.png" class="slider_about__img" alt="">
                            <p class="slider_about__text-desc">“Good services. I bought a bicycle with a wrong but they accepted free return for me and exchange a new product for me.</p>
                            <p class="slider_about__text-name">LINA</p>
                            <p class="slider_about__text-wish">Happy clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End : Slider_About -->

        <!-- Start : Brand -->
        <div class="container">
            <div class="container__brand">
                <div class="row">
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_1.png" alt="">
                        </div>
                    </div>
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_2.png" alt="">
                        </div>
                    </div>
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_3.png" alt="">
                        </div>
                    </div>
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_4.png" alt="">
                        </div>
                    </div>
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_5.png" alt="">
                        </div>
                    </div>
                    <div class="col-sixth row-3 row-2">
                        <div class="item--inner">
                            <img src="../asset/image/brand/brand_6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="footer__header">
                    <img src="../asset/image/header/logo.png" class="footer__header--logo" alt="">
                    <p class="footer__header--text-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                    <div class="footer__header--outside">
                        <a href="#"> <i class="footer__header--icon fab fa-facebook-f"></i></a>
                        <a href="#"><i class="footer__header--icon fab fa-twitter"></i></a>
                        <a href="#"><i class="footer__header--icon fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="footer__header--icon fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer__bottom"></div>
                    <div class="col-fourth mobile__row-2">
                        <div class="col-inner">
                            <a href="#">
                                <p class="footer__bottom--header-text">
                                    CONTACT US
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text"><i class="footer__bootom--icon fas fa-map-marker-alt"></i>200 Lincoln Ave, Salinas, CA 93901
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text"><i class="footer__bootom--icon fas fas fa-phone"></i>023 32423 223</p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text"><i class="footer__bootom--icon fas fa-envelope"></i>gymax@example.com</p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text"><i class="footer__bootom--icon fas fa-clock"></i>9:00 - 20:00 All day</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="col-inner">
                            <p class="footer__bottom--header-text">
                                MY ACCOUNT
                            </p>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    My acoount
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Check out
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    register
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Login
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="col-inner">
                            <p class="footer__bottom--header-text">
                                INFORMATION
                            </p>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    About us
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Contact us
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Terms of user
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Privacy Policy
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-fourth mobile__row-2">
                        <div class="col-inner">
                            <p class="footer__bottom--header-text">
                                QUICK LINK
                            </p>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    New user
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Help center
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    Report spam
                                </p>
                            </a>
                            <a href="#">
                                <p class="footer__bottom--info-text">
                                    FAQs
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button id="btn">
                demo
            </button>
            <div class="footer__copyright">
                <p>Copyright © 2019 Gymax - Design by ArrowHitech - All Rights Reserved</p>
            </div>
        </div>

    </div>
    <script>
        // slider_about
        $('.slider_about').slick({
            dots: true,
            arrows: false
        });
        // menu-mobile
    </script>
    <script>
        var header = document.getElementById('header');
        var mobileMenu = document.getElementById('mobile-menu');
        var headerHeight = header.clientHeight;
        mobileMenu.onclick = function() {
            var isClose = header.clientHeight === headerHeight;
            if (isClose) {
                header.style.height = 'auto';
            } else {
                header.style.height = null;
            }
        }
    </script>

</html>